<section class="collection-section">
  <div class="collection-wrapper container">
   
    <picture class="collection-img">
      <!-- Desktop screen 1440-->
      <source
        media="(min-width: 1440px)"
        width="709"
        height="545"
        srcset="
          ../images/about-us-desktop-1440.webp    1x,
          ../images/about-us-desktop-1440@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- Desktop screen 1280-->
      <source
        media="(min-width: 1280px)"
        width="594"
        height="545"
        srcset="
          ../images/about-us-desktop-1280.webp    1x,
          ../images/about-us-desktop-1280@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        width="704"
        height="575"
        srcset="
          ../images/about-us-tablet.webp    1x,
          ../images/about-us-tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../images/about-us-mobil.webp    1x,
          ../images/about-us-mobil@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        class="card-img"
        src="../images/hero-desktop.webp"
        alt="Girl in our vyshyvanka"
        width="335"
        height="499"
        loading="lazy"
      />
    </picture>
  </div>
</section>