.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 20px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 375px) {
    .container {
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        /* padding: 0 32px; */
        width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        /* padding: 0 100px; */
        width: 1080px;
    }
}



@media screen and (min-width: 1440px) {
    .container {
        width: 1240px;
    }

}